.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(21, 8, 8, 0.145);
  padding: 1rem;
  padding-top: 3rem;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
  gap: 1rem;
}

.form-fields{
    background-color: white;
    display: flex;
}

.search-item {
  display: flex;
  align-items: center;
  background-color: white;
  color: #555;
  font-size: 1rem;
  gap: 0.5rem;
  margin-left: 10px;
}

.search-item input {
  border: none;
  outline: none;
  color: #555;
  font-size: 1rem;
  padding: 0.3rem;
  min-width: 130px;
}

.search-item input[type="text"] {
    min-width: 300px;
}

.divider {
  width: 1px;
  height: 50px;
  background-color: #ddd;
}

.datepicker-input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.3rem;
  width: 130px;
}

.search-button {
  background-color: #e0553c;
  color: white;
  border: none;
  padding: 0.7rem 3.5rem;
  font-size: 1.3rem;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #c6462f;
}