.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}
  
.navbar-left{
    display: flex;
    align-items: center;
}

.logo {
  width: 325px;
  margin: 15px 25px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: black;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.nav-links li{
    position: relative;
}

.nav-links li::after {
  content: "|";
  position: absolute;
  right: -20px;
  color: #ccc;
}

.nav-links li:last-child::after {
  content: "";
}

.call-btn {
    background-color: #0b5f82;
    color: white;
    border: none;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-family:sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}