.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.navbar-left{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
  width: 60px;
  height: auto;
}

.brand-name {
  font-size: 1rem;
  color: #0015b7;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.earn-rewards {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
}

.nav-link {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    margin-left: 30px;
}

.irctc-logo {
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin-left: 30px;
}